* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #000000;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #5ffaff;
    color: #0e0a30;
    text-align: center;
    padding: 10px;
}